.container
  .searchMain
    h1= title
    p
      | I'm sorry, but we were unable to log in to your Facebook account.
      | This site is based around looking through your friends to see who
      | lives near where you're moving.
    p
      | Please try returning
      a(href="/") to the homepage
      | and trying again.
