#fb-root
.container
  .searchMain
    h1 Who Will I Know There?
    br
    form.well.form-inline(name='search', action='/login')
      label
        h4(style='margin-right: 10px;')
          | I'm looking for friends near
      input.input-xlarge.search-query(name='place', placeholder='San Francisco, California', style='margin-right: 10px;')
      button.btn.btn-primary(type='submit')
        | Find Friends!
    br
    - if (!access_token)
      script
        console.log("not logged in.");
    - else
      li#people
      script
        var access_token = "#{access_token}";
        var place = "#{place}";
        var appId = "#{appId}";
        
        // Initialize FBJS
        window.fbAsyncInit = function(){
          FB.init({
            appId: appId, // App ID
            status : true, // check login status
            cookie : true, // enable cookies
            xfbml : true // parse XFBML
          });
        };
        (function(d){
          var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
          if (d.getElementById(id)){return;}
          js = d.createElement('script'); js.id = id; js.async = true;
          js.src = "//connect.facebook.net/en_US/all.js";
          ref.parentNode.insertBefore(js, ref);
        }(document));

        // Do some cool stuff
        $('document').ready(function(){
          $('#place').val(place); // update searched value
          FB.api('/me', function(resp){
            alert('Your name is ' + resp.name);
          });
        });
        /*
          var nearby_friends = [];
          var me = get(https://graph.facebook.com/me?access_token=access_token)['data']
          var id = me.id
          for friend in https://graph.facebook.com/id/friends?access_token=access_token)['data']:
            var id = friend.id
            var name = friend.name
            var data = get(https://graph.facebook.com/friend_id/locations?access_token=access_token)['data']
            for thing in data:
              if thing.place is near place:
                nearby_friends.push(friend)
                break // start with a new friend, this one matches
          for friend in nearby_friends:
            dom.append(build_list(friend))
        */ 
                
        console.log("logged in.");
        console.log(access_token);
        console.log(place);
        console.log(appId);
