.container
  .searchMain
    h1= title
    br
    form.well.form-inline
      label
        h4(style='margin-right: 10px;')
          | I'm looing for friends near
      input.input-xlarge.search-query(placeholder='San Francisco')
      button.btn.btn-primary
        | →
    br
    #searchresult
