#fb-root
.container
  .searchMain
    h1 Who Will I Know There?
    br
    - if(!access_token)
      form.form-search.form-vertical(id='search', name='search', action='/login')
        label
          h4 I'm moving to
        input.input-xxlarge.search-query(id='place', name='place', placeholder='"San Francisco" or "California" or "San Francisco, California"')
        button.btn.btn-primary(type='submit')
          | Find Friends!
    - else
      form.form-search.form-vertical(id='search', name='search', action='/')
        label
          h4 I'm moving to
          input.input-xxlarge.search-query(id='place', name='place', placeholder='"San Francisco" or "California" or "San Francisco, California"')
        button.btn.btn-primary(type='submit')
          | Find Friends!
    
    br
    div(class='loading')
      p Searching your facebook graph...
      img(src="/img/loading.gif", alt="Loading friends (may take a while)")
    div(class='done_loading')
      p Done.
    br
    script
      $(document).ready(function(){
        $('.done_loading').hide();
        $('.loading')
          .hide()
          .ajaxStart(function(){
            $('.loading').delay(500).show();
          })
          .ajaxStop(function(){
            $('.loading').delay(500).hide();
            $('.done_loading').delay(500).show();
          });
      });
    - if(!access_token)
      p 
        | A simple project to help you find friends when you're moving somewhere totally new.
        | Going off to college? Need a support network? Log in with your Facebook to find
        | friends (and friends of friends) near your new home.
    - else
      ul#people
      script
        var access_token = "#{access_token}";
        var place = "#{place}";
        var appId = "#{appId}";
      script(src='/js/index.js')
