.container
  .searchMain
    h1= title
    br
    form.well.form-inline(name='search', action='/login')
      label
        h4(style='margin-right: 10px;')
          | I'm looking for friends near
      input.input-xlarge.search-query(name='place', placeholder='San Francisco')
      button.btn.btn-primary(type='submit')
        Find Friends
    br
- if (typeof session.access_token === "undefined")
  script
    console.log("not logged in.");
- else
  script
    console.log("logged in.");
    console.log(#{session.access_token});
