!!!
html
  head
    // Meta
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Find Friends in New Places')
    meta(name='author', content='Peter Downs')
    
    // CSS
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/index.css')

    // JS
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/underscore-min.js')
    script(src='/js/bootstrap-tab.js')
    script(src='/js/jquery.knob-1.0.1.js')
    
    // Analytics
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31506129-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body!= body
