!!!
html
  head
    // Meta
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Find Friends in New Places')
    meta(name='author', content='Peter Downs')
    
    // CSS
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    style(type='text/css')
      html { 
        background: url(/img/map.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      body {
        background: transparent;
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .container {
        min-width: 400px;
        max-width: 500px;
        padding: 20px;
      }
      .searchMain {
        min-width: 400px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        background: whiteSmoke;
        text-align: center;
        padding: 10px;
      }
      li {
        list-style: none;
        margin: none;
        padding: none;
      }
      .person {
        padding: 5px;
      }

    // JS
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/underscore-min.js')

  body!= body
